@import "./colors.css";
* {
  font-family: CaskaydiaMono Nerd Font;
  /* font-size: 12px; */
}

window#waybar {
  background-color: @background;
  color: @foreground;
  border: 1px solid @foreground;
}

#workspaces {
  /*border-radius: 4px;*/
  /*background-color: alpha(@foreground, 0.35);*/
  /*opacity: 1;*/
  font-size: 12px;
  border: none;
  margin: 0px 0px;
  padding: 0px 0px 0px;
}

#workspaces button {
  padding: 0px 8px;
  margin: 0px 2px;
  border: none;
  background-color: transparent;
  color: alpha(@foreground, 0.8);
}

#workspaces button.active {
  color: @blue;
  padding: 0 8px;
  margin: 0px 2px;
  background-color: transparent;
  border: none;
  /* animation: gradient_f 20s ease-in infinite; */
  /* transition: all 0.15s cubic-bezier(.55, -0.68, .48, 1.682); */
}

#workspaces button.empty {
  background-color: transparent;
  color: @foreground;
  opacity: 0.45;
  border: none;
  /* transition: all 0.15s ease-in-out; */
  padding: 0px 8px;
  margin: 0px 2px;
}

#workspaces button.empty.active {
  background-color: transparent;
  border: none;
  color: @blue;
  opacity: 1;
  padding: 0px 8px;
  margin: 0px 2px;
}

#workspaces button:hover.empty,
#workspaces button:hover {
  background-image: none;
  background-color: transparent;
  color: alpha(@foreground, 0.85);
  border: none;
  opacity: 1;
}

/* #submap, */
#bluetooth,
#network,
#cpu,
#custom-power-menu,
#memory,
#battery,
#pulseaudio {
  /* border-radius: 8px; */
  /* padding: 5px 8px; */
  font-size: 12px;
  background: transparent;
  margin-right: 12px;
}

#custom-weather,
#window,
#custom-arch,
#custom-open,
#custom-close,
#custom-separator {
  font-size: 12px;
  background: transparent;
}

#clock {
  margin-left: 8px;
  font-size: 12px;
}

#custom-arch {
  color: @blue;
}

#workspaces button.urgent {
  background: rgba(227, 81, 73, 1);
  color: black;
}


#custom-separator {
  margin-right: 8px;
  margin-left: 8px;
}

#media {
  color: @blue;
  margin: 0px 0px 0px 10px;
}

#window {
  margin: 0 0 0 30px;
}

#custom-media-animation {
  font-size: 12px;
  margin-right: 10px;
}

#custom-media-now-playing {
  font-size: 12px;
  margin-right: 10px;
}

#custom-media-time {
  color: alpha(@foreground, 0.4);
  font-size: 10px;
}

tooltip {
  background: @background;
  border: 1px solid @foreground;
  border-radius: 0px;
}

tooltip label {
  color: @foreground;
  font-size: 11px;
}

