@import "./colors.css";

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'CaskaydiaMono Nerd Font';
  font-size: 13px;
}

window#waybar {
  background-color: transparent;
}

window#waybar>box {
  border-radius: 0px;
  border: 0px solid alpha(@foreground, 0.6);
  margin: 0px 0px 0px 0px;
  background-color: alpha(@background, 1);
  box-shadow: 0px 0px 0px 0px #101010;
  transition-property: background-color;
  transition-duration: .2s;
}

/* Left-Modules */

.modules-left {
  margin: 2px 2px;
  padding: 0px 1px 0px;
  background-color: alpha(@foreground, 0.20);
  border: 1px solid;
  /*border-radius: 8px;*/
  border-color: @foreground;
}

#left1 {
  background-color: @background;
  /*border-radius: 4px;*/
  margin: 2px 1px;
  padding: 0px 2px 0px;
  box-shadow: 1px 1px 1px 0px #101010;

}

#left2 {
  background-color: @background;
  /*border-radius: 4px;*/
  padding: 0px 4px 0px;
  margin: 2px 2px;
  box-shadow: 1px 1px 1px 0px #101010;
}

.modules-center {
  color: @foreground;
}

.modules-right {
  margin: 2px 2px;
  padding: 0px 2px 0px;
  background-color: alpha(@foreground, 0.25);
  border: 1px solid;
  border-color: @foreground;
  /*border-radius: 8px;*/
}

#right1 {
  color: @foreground;
  background-color: @background;
  /*border-radius: 4px;*/
  margin: 2px 1px;
  padding: 0px 2px 0px;
  box-shadow: 1px 1px 1px 0px #101010;
}


/* --- Workspaces --- */
#workspaces {
  /*border-radius: 4px;*/
  /*background-color: alpha(@foreground, 0.35);*/
  /*opacity: 1;*/
  margin: 0px 0px;
  padding: 0px 1px 0px;
}

#workspaces button {
  padding: 0px 10px;
  margin: 2px 2px;
  box-shadow: 1px 1px 1px 0px #101010;
  border-radius: 0px;
  background-color: alpha(@background, 1);
  color: @foreground;
  transition: all 0.15s ease-in-out;
  opacity: 1;
}

#workspaces button.active {
  color: @background;
  padding: 0 10px;
  margin: 2px 2px;
  box-shadow: 1px 1px 1px 0px #101010;
  background-color: alpha(@foreground, 0.9);
  border-radius: 0px;
  opacity: 1.0;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.15s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button.empty {
  background-color: alpha(@background, 1);
  box-shadow: 1px 1px 1px 0px #101010;
  color: @foreground;
  opacity: 0.45;
  border-radius: 0px;
  transition: all 0.15s ease-in-out;
  padding: 0px 10px;
  margin: 2px 2px;
}

#workspaces button.empty.active {
  background-color: alpha(@foreground, 0.9);
  box-shadow: 1px 1px 1px 0px #101010;
  border-radius: 0px;
  color: @background;
  opacity: 1;
  padding: 0px 10px;
  margin: 2px 2px;
}

#workspaces button:hover.empty,
#workspaces button:hover {
  background-image: none;
  background-color: alpha(@foreground, 0.9);
  color: @background;
  opacity: 1;
}

#custom-arch,
#clock,
#custom-power-menu,
#tray,
#cpu,
#memory,
#battery,
#network,
#mpris,
#bluetooth,
#pulseaudio {
  min-width: 10px;
  margin: 1px 1px 1px 1px;
  padding: 0 4px;
}

tooltip {
  padding: 2px;
}

#custom-weather {
  font-size: 13px;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @transparent;
}

.menu {
  background-color: @background;
}

.hidden {
  opacity: 0;
}

tooltip {
  padding: 4px;
  background: alpha(@background, 0.89);
  border: 1px solid alpha(@foreground, 0.8);
  border-radius: 0px;
}

tooltip label {
  color: @foreground;
  font-weight: normal;
  font-size: 10px;
}


#custom-recorder {
    color: #ff0000;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { opacity: 0.6; }
    50% { opacity: 0.3; }
    100% { opacity: 0.6; }
}


#mpris {
  box-shadow: 1px 1px 1px 0px #101010;
  background-color: @background;
  border-radius: 0px;
  margin: 2px 2px;
  padding: 0px 4px 0px;
  color: @foreground;
}

@keyframes blink {
  to {
    color: #4a4a4a;

  }
}

#battery.warning:not(.charging) {
  color: #ed7014;
  background-color: @background;
}

@keyframes blink2 {
  to {
    background-color: transparent;
    color: #f53c3c;
  }
}

#battery.critical:not(.charging) {
  background-color: @background;
  color: #c95d0f;
  animation-name: blink2;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


@import "./colors.css";
